//header

.nav-container{
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid #000;
  //包裹input的li
  .search-wrap{
    width: 39%;
    .search-form{
      width:100%;
      .search-div{
        width: 80%;
        //改变margin-right后响应式布局失效
        #search{
          position: absolute;
          right:2px;
          top: 9px;
        }
        .search-input{
          width: 100%;
          border: 0px solid #000;
          border-bottom: 1px solid #d9dde1;
          box-shadow: none;
          border-radius: 0px;
        }
      }
    }
  }
  //注册按钮
  .signup-btn{
    font-size: 14px;
    color: #787b82;
  }
  .menu-wrap{
    position: relative;
    left:10%;
    width:50%;
    a{
      font-size: 16px;
    }
  }
}
.logarea-wrap{
  width:40%;
}
//购物车按钮
.icon-shopping{
  position: absolute;
  top: 15px;
  left: -17px;
  font-size: 20px;
}
//购物车盒子
.shopping-box{
  position: absolute;
  box-shadow:none;
  border-radius: 0px;
  box-sizing: border-box;
  width: 350px;
  padding: 0px 12px;
  display: none;
  .shopping-title-box{
    padding:20px 12px;
    border-bottom: 1px solid #d9dde1;
    height: 57px;
    .l{
      float: left;
      height: 16px;
      line-height: 16px;
      font-size: 16px;
    }
    .r{
      float: right;
      height: 16px;
      line-height: 16px;
      font-size: 14px;
      color: #777777;
    }
  }
  .shopping-wrap{
    height: 284px;
    text-align: center;
    border-bottom: 1px solid #d9dde1;
    .icon-empty{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.36);
      margin-top: 36px;
      margin-bottom: 12px;
      font-size: 30px;
      color: #ffffff;
      line-height: 60px;
    }
    h6{
      margin: 0 auto;
      padding-bottom:18px;
      width: 180px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.36);
    }
    h5{
      margin: 0 auto;
      font-size: 12px;
      line-height: 12px;
      color: #93999f;
      margin-top: 24px;
      margin-bottom: 16px;
    }
    p{
      a{
        text-decoration: none;
        color: red;
        font-size: 12px;
        margin-bottom: 16px;
      }
    }
  }
  .shopping-footer{
    padding: 16px 12px;
    .show-box{
      display: inline-block;
      height: 28px;
      line-height: 28px;
      a{
        text-decoration: none;
        font-size: 12px;
        color: #93999f;
        padding: 8px 12px;
        line-height: 12px;
        text-align: center;
      }
    }
    .go-cart{
      display: inline-block;
      width: 72px;
      height: 28px;
      float: right;
      color: #fff;
      background-color: #f01400;
      text-align: center;
      font-size: 12px;
      line-height: 28px;
      box-sizing: border-box;
      border-radius: 2px;
      text-decoration: none;
    }
  }
}
.bg{
  .bg-img{
    width: 100%;
    height: 490px;
    background: url("img/bk.jpg");
    -webkit-background-size:cover;
    background-size:cover;
    position: absolute;
    top: 0;
    z-index: -111;
  }
}
.path-banner{
  width: 1200px;
  height: 120px;
  background-color: #ffffff;
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius:5px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
  .path-menu {
    width: 1200px;
    height: 120px;
    list-style: none;
    padding: 0;
    li {
      float: left;
      width: 240px;
      height: 120px;
      overflow: hidden;
      a{
        position: relative;
        transition: .3s all;
        top: 0;
      }
      .red{

      }
      a:hover{
        top: -3px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
//课程推荐
.container-types{
  width: 1200px;
  padding-top: 36px;
  margin: 0 auto;
  h3.type-title{
    position: relative;
    font-size:20px;
    line-height: 20px;
    margin-bottom: 24px;
    color: #07111b;
    a.type-title-more{
      position: absolute;
      top: 0;
      right:  10px;
      color: #93999f;
      font-size: 14px;
      text-decoration: none;
    }
  }
  .container-types{
    .types-content{
      .index-card-container{
        float: left;
        width: 224px;
        height: 228px;
        background-color: #fff;
        position: relative;
      }
    }
  }
}